
.contacts {
	max-width: 1170px;
	margin: 0 auto;
	font-family: 'Open Sans',	sans-serif;
	font-size: 16px;
	color: #353535;
	line-height: 1.5;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.cont-block__title {
	font-weight: 900;
}
.contacts p {
	margin: 7px 0;
}
.contacts__desc {
	width: 100%;
	max-width: 472px;
}
.cont-title {
	max-width: 350px;
}

p.cont-title {
	margin-bottom: 15px;
}
.cont-block{
	margin-bottom: 15px;
	padding: 15px 30px;
	background-color: #EDEFF8;
	border-radius: 6px;
	box-sizing: border-box;
}

.block__phones {
	width: 41px;
	height: 41px;
	border-radius: 6px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 30px #e6e6e68f;
	margin-right: 3px;
	display: inline-block;
}
p.inn {
	margin-bottom: 18px;
}
.contacts__maps {
	border: 1px solid #000;

	width: 100%;
	box-sizing: border-box;
	max-width: 672px;
}
