
.contacts {
	max-width: 1170px;
	margin: 0 auto;
	font-family: 'Open Sans',	sans-serif;
	font-size: 16px;
	color: #353535;
	line-height: 1.5;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	box-sizing: border-box;
}
.contacts a {
	color: #353535;
	text-decoration: none;
}
.contacts__desc {
	margin-right: 28px;
}
.cont-block__title {
	font-weight: 900;
}
.contacts p {
	margin: 5px 0;
}
.contacts__desc {
	width: 100%;
	max-width: 472px;
}
.cont-title {
	max-width: 350px;
}

p.cont-title {
	margin-bottom: 15px;
}
.cont-block{
	margin-bottom: 15px;
	padding: 19px 30px;
	background-color: #EDEFF8;
	border-radius: 6px;
	box-sizing: border-box;
}
.cont-block__adress {
	display: flex;
	flex-direction: column;
}
.cont-block__adress div{
	margin-bottom: 3px;
}

.block__phones {
	position: relative;
	width: 41px;
	height: 41px;
	border-radius: 6px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 30px rgba(230, 230, 230, 0.6), 0 0 30px rgba(230, 230, 230, 0.6);
	margin-right: 3px;
	display: inline-block;
}
.block__phones:hover {
	box-shadow: 0 0 30px rgba(230, 230, 230, 0.6), 0 0 4px rgb(213, 213, 213);
}
.block__phones::before {
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 19px;
	height: 22px;
	transform: translate(-50%, -50%);
	background-image: url('/img/contact-sprite.svg');
	background-repeat: no-repeat;
}

.phones__tel::before {
	background-position: 1px 0;
}

.phones__tlg::before {
	background-position: -26px 0;
}

.phones__vib::before {
	background-position: -52px 0;
}

.phones__sky::before {
	background-position: -79px 0;
}

.phones__wat::before {
	background-position: -108px 0;
}

.phones__vk::before {
	background-position: -136px 0;
}

.phones__ok::before {
	background-position: -260px 0;
}

.phones__fb::before {
	background-position: -167px 0;
}

.phones__ins::before {
	background-position: -197px 0;
}

.phones__you::before {
	background-position: -229px 0;
}

p.inn {
	margin-bottom: 16px;
}
.contacts__maps {
	/* border: 1px solid #000; */

	width: 100%;
	box-sizing: border-box;
	max-width: 670px;
	margin-top: 15px;
}
.map__inner {
	/* border: 1px solid red; */

	width: 100%;
	height: 100%;
	max-width: 670px;
	max-height: 487px;
	border-radius: 8px;
	margin-bottom: 15px;
	box-sizing: border-box;
	overflow: hidden;
}
.map__imgs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.map__img {
	/* border: 1px solid grey; */

	width: 213px;
	height: 168px;
	margin: 0 5px 15px 5px;
	border-radius: 8px;
	box-sizing: border-box;
	overflow: hidden;
}
.map__img img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}